{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <!-- List the todo items here -->
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li>{{ item.title }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="/newitem" method="POST" class="form_newitem">
    <div class="form_newitem">
      <label for="name">Enter new todo item name: </label>
      <input type="text" name="createNew" id="createNew" required>
    </div>
 
{% endblock %}